body {
  background-color: white;
  margin-left: 25%;
}
h1 {
  color: rgb(0, 56, 56);
  text-shadow: 5px 5px 5px #777;
}
img {
  width: 20%;
  aspect-ratio: 1;
  object-fit: cover;
}
div {
  display: inline-block;
  max-width: 50%;
}
